body {

}

#math{
 position:relative;
 left:180px;
 top:120px;
 transition: 1s;
}
#math:hover {
 transform: scale(1.2); /* Увеличиваем масштаб */
}

#physic{
  position:relative;
  left:370px;
  top:120px;
  transition: 1s;
}
#physic:hover {
 transform: scale(1.2); /* Увеличиваем масштаб */
}

#it{
  position:relative;
  left:550px;
  top:120px;
  transition: 1s;
}
#it:hover {
 transform: scale(1.2); /* Увеличиваем масштаб */
}
