body{
  position: fixed;
  margin:0;
  height: 100%;
  width:100%
}


#play{
  position:absolute;
  bottom:49.3%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#play:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}

#top{
  position:absolute;
  width:10%;
  bottom:2%;
  left:2%;
  transition: 0.5s;
}
#top:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#titul{
  position:absolute;
  width:10%;
  top:5%;
  left:2%;
  transition: 0.5s;
}
#titul:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#sound{
  position:absolute;
  width:10%;
  top:5%;
  right:2%;
  transition: 0.5s;
}
#sound:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#share{
  position:absolute;
  bottom:2%;
  right:2%;
  width:10%;
  transition: 0.5s;
}
#share:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#set{
  position:absolute;
  bottom:29.7%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#set:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}

#crt{
  position:absolute;
  bottom:10%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#crt:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}
