body{
  position: fixed;
  margin:0;
  height: 100%;
  width:100%
}


#play{
  position:absolute;
  top:37%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#play:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}

#top{
  position:absolute;
  width:10%;
  bottom:1%;
  left:0.5%;
  transition: 0.5s;
}
#top:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#titul{
  position:absolute;
  width:10%;
  top:2%;
  left:0.5%;
  transition: 0.5s;
}
#titul:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#sound{
  position:absolute;
  width:10%;
  top:2%;
  right:0%;
  transition: 0.5s;
}
#sound:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#share{
  position:absolute;
  bottom:1%;
  right:0%;
  width:10%;
  transition: 0.5s;
}
#share:hover {
 transform: scale(1.08); /* Увеличиваем масштаб */
}

#set{
  position:absolute;
  top:57%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#set:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}

#crt{
  position:absolute;
  top:77%;
  left:41%;
  width:22%;
  transition: 0.5s;
}
#crt:hover {
 transform: scale(1.15); /* Увеличиваем масштаб */
}
