body{

}

#third{
  position:relative;
  width:5.5%;
  top:0px;
  left:190px;
  transition: 0.2s;
  border:5px solid;
}
#third:hover{
  transform: scale(1.06);
}

#scnd{
  position:relative;
  width:5.5%;
  top:0px;
  left:140px;
  transition: 0.2s;
  border:5px solid;
}
#scnd:hover{
  transform: scale(1.06);
}

#frst{
  position:relative;
  width:5.5%;
  top:0px;
  left:90px;
  transition: 0.2s;
  border:5px solid;
}
#frst:hover{
  transform: scale(1.06);
}

#video1 {
  position:relative;
  top:50px;
  left:50px;
}
