body{

}

#frst{
  position:absolute;
  width:5.5%;
  top:20%;
  left:40%;
  transition: 0.2s;
  border:5px solid;
}
#frst:hover{
  transform: scale(1.06);
}

#video1 {
  position:absolute;
  top:10%;
  left:7%;
  width:30%;
  height: 40%;
}
