body{

}

#restart{
  position:relative;
  top:-30px;
  left:180px;
  border:5px solid;
  transition: 0.2s;
}
#restart:hover {
  transform: scale(1.05);
}

#more{
  position:relative;
  top:-100px;
  left:470px;
  border:5px solid;
  transition: 0.2s;
}
#more:hover {
  transform: scale(1.05);
}

#less{
  position:relative;
  top:-100px;
  left:570px;
  border:5px solid;
  transition: 0.2s;
}
#less:hover {
  transform: scale(1.05);
}

#ravno{
  position:relative;
  width:4.5%;
  top:-100px;
  left:360px;
  border:5px solid;
  transition: 0.2s;
}
#ravno:hover {
  transform: scale(1.05);
}
