body{
margin:0;
position: fixed;
}

#myCanvas {
  position:relative;
  left:-10px;
  top:-5px;
}

#restart{
  position:absolute;
  top:63%;
  left:41%;
  width:20%;
  transition: 0.07s;
}
#restart:hover {
  transform: scale(1.05);
}

#more{
  position:absolute;
  top:50%;
  left:40%;
  transition: 0.07s;
  width:9%;
}
#more:hover {
  transform: scale(1.05);
}

#less{
  position:absolute;
  top:50%;
  left:68%;
  transition: 0.07s;
  width:9%;
}
#less:hover {
  transform: scale(1.05);
}

#ravno{
  position:absolute;
  width:9%;
  top:50%;
  left:53.5%;
  transition: 0.07s;
}
#ravno:hover {
  transform: scale(1.05);
}
